@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --cor1: #292947;
    --cor2: #1F487E;
    --cor3: #376996;
    --cor4: #F46036
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to right, #1f487ebb, #376a96a4), url('../imagens/pexels-luis-gomes-546819.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
}

header > h1{
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
  color: var(--cor4);
  background-color: var(--cor1);
  padding: 25px;
}

div.container {
  width: 100%;
  margin: 5em auto;
}

form {
  padding: 2.5em;
  background-color: #292947cc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
}

form p {
  font-size: 1.25em;
  margin-bottom: 10px;
}

div.form {
  margin: 0 auto 1.25em auto;
  padding: 0.25em;
}

label {
  display: flex;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.caixa-texto {
  display: block;
  width: 100%;
  height: 1.75em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
  padding: 0.35em 0.75em;
}

.caixa-texto:focus {
  outline: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
  border: 3px solid var(--cor3);
  transition: border 0.2s ease-in-out;
}

.radios, .checkbox {
  display: inline-block;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 8px;
}

.sas {
  width: 350px;
}

output.out-sas {
  margin-left: 10px;
  font-size: 22px;
}

.textarea {
  width: 100%;
}

.botao {
  width: 100%;
  height: 60px;
  background-color: var(--cor4);
  color: white;
  font-size: 22px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
}

footer > p {
  background-color: var(--cor1);
  padding: 8px;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
  color: white;
}

footer > p > a:hover {
  text-decoration: underline;
  color: var(--cor4);
  transition: color 0.2s ease-in-out;
}