@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --cor1: #292947;
    --cor2: #1F487E;
    --cor3: #376996;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to right, #1f487ebb, #376a96a4), url('../imagens/pexels-luis-gomes-546819.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
}

header > h1{
  text-align: center;
  padding: 25px;
  font-size: 2.5em;
}

div.container {
  width: 100%;
  margin: 2em auto 0 auto;
}

form {
  padding: 2.5em;
  background-color: #292947cc;
  border-radius: 10px;
}

form p {
  font-size: 1.25em;
  margin-bottom: 10px;
}

div.form {
  margin: 0 auto 1.25em auto;
  padding: 0.25em;
}

label {
  display: flex;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

input.caixa-texto {
  display: block;
  width: 100%;
  height: 2.5em;
  border-radius: 5px;
  padding: 0.35em 0.75em;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.377);
}

input.caixa-texto:focus {
  outline: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
  border: 3px solid var(--cor3);
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input.radios, input.checkbox {
  display: inline-block;
  min-width: 1.5em;
  min-height: 1.5em;
  margin-right: 8px;
}